<!DOCTYPE html>
<html lang="en">

<head>
    <meta charCustomize="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidessert有你甜點|購物車</title>
    <link href="https://api.fontshare.com/v2/css?f[]=gambetta@400,1,300,600,701,2,501,401,301,601,500,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/css/order1.css" type="text/css">
</head>

<body>
    <%- include("./nav.ejs") %>
    <div class="headerPage"></div>
    <picture>
        <source media="(max-width: 768px)" srcCustomize="/pic/cart/order1.png">
        <img class="statement" src="/pic/cart/order1(2x).png">
    </picture>
    <% if ( typeof noOrder !== "undefined" && noOrder) { %>
        <div class="mycontainer container">
            <div class="table">
                <div class="ps-5 bigform">
                    <div class="table-header row">
                        <div class="table-cell col-2 px-2">商品明细</div>
                        <div class="table-cell col-2">客製化規格</div>
                        <div class="table-cell col-4">客製化卡片</div>
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-1"></div>
                    </div>
                    <p class="noOder">尚無加入商品</p>
                </div>
            </div>
        </div>
    <% } else { %>   
    <div class="mycontainer container">
        <div class="table">
            <div class="ps-5 bigform">
                <div class="table-header row">
                    <div class="table-cell col-2 px-2">商品明细</div>
                    <div class="table-cell col-3">客製化規格</div>
                    <div class="table-cell col-4">客製化卡片</div>
                    <div class="table-cell col-2"></div>
                    <div class="table-cell col-1"></div>
                </div>
    
                <!-- 循環顯示 c_detail2 表的資料 -->
                <% for (var i = 0; i < cartdata.length; i++) { %>
                    <div class="table-row table-row1 order row">
                        <div class="table-cell col-2 px-2">
                            <div class="product-info">
                                <img src="<%= cartdata[i].p_pic || cartdata[i].cpic %>" width="150px" alt="Product 1">
                                <p class="product-name"><%= cartdata[i].pd_name %></p>
                            </div>
                        </div>
                        <div class="table-cell item col-3">
                            <% if (cartdata[i].product_type === 'Customize') { %>
                                <li class="mb-3">規格:<%= cartdata[i].size %></li>
                                <li class="mb-3">內容物:<%= cartdata[i].cookie1 %>, <br>
                                    <%= cartdata[i].cookie2 %>,<br>
                                    <%= cartdata[i].cookie3 %>, <br><%= cartdata[i].cookie4 %>
                                </li>
                                <li class="mb-3">禮物盒:<%= cartdata[i].boxcolor %></li>
                                <li>紙袋:<%= cartdata[i].bagcolor %></li>
                            <% } %>
                        </div>
                        <div class="table-cell item col-4 p-0">
                            <% if (cartdata[i].product_type === 'Customize') { %>
                                <div><%= cartdata[i].cardcontent %></div>
                            <% } %>
                        </div>

                        <div class="table-cell item col-2 row">
                            <div class="table-cell item col-6">數量</div>
                            <div class="table-cell item col-5 amount m-0 p-0">
                                <button class="subtractBtn">-</button>
                                <span class="quantity"><%= cartdata[i].quantity %></span>
                                <button class="addBtn p-0">+</button>
                            </div>
                            <div class="row">
                                <div class="table-cell item col-6">價格</div>
                                <div class="table-cell item col-6 price"><%= cartdata[i].cprice || cartdata[i].p_price %></div>
                            </div>
                            <div class="row">
                                <div class="table-cell item col-6">小計</div>
                                <div class="table-cell item col-6 price-total"><%= cartdata[i].c_quantity * cartdata[i].p_price %></div>
                            </div>
                        </div>
                        <div class="table-cell item col-1">
                            <span class="delete-btn" onclick="deleteOrder(this)"><img style="width: 40%;" src="/pic/cart/Waste.png" alt=""></span>
                        </div>
                    </div>
                <% } %>
             <% } %>   
                  
            </div>
        </div>
    </div>

                <div class="table-footer ">
                    <div class="table-row table-row1 row">
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-2"></div>
                        <div class="table-cell item col-2">總計商品數：</div>
                        <div class="table-cell item col-2 product-amount">2件</div>
                    </div>
                    <div class="table-row table-row1 row">
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-2"></div>
                        <div class="table-cell item col-2">商品金額：</div>
                        <div class="table-cell item col-2 product-total">$<%= order_total%></div>
                    </div>
                    <div class="table-row table-row1 row">
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-2"></div>
                        <div class="table-cell item col-2">運費：</div>
                        <div class="table-cell item col-2 deliver-fee">$<%=deliever_fee%></div>
                    </div>
                    <div class="table-row table-row1 row">
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-2"></div>
                        <div class="table-cell item col-2">訂單總額：</div>
                        <div class="table-cell item col-2 cash-total">$<%=order_all%></div>
                    </div>
                    <div class="table-row row pay">
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-3"></div>
                        <div class="table-cell col-2"></div>
                        <div class="table-cell item col-2"></div>
                        <div class="table-cell item col-2">
                            <a href="./cart/fillout"><input class="checkout" type="button" value="結帳"></input></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- <div class="mycontainer container">
        <div class="row">
            <p class="hot">熱門商品推薦</p>
            <div class="owl-carousel owl-theme">
                <div class=" item">
                    <img src="/pic/product/product_info1.webp" class="responsive-image" alt="...">
                    <p class="intro">布朗尼禮盒</p>
                </div>
                <div class=" item">
                    <img src="/pic/product/product_info1.webp" class="responsive-image" alt="...">
                    <p class="intro">布朗尼禮盒</p>
                </div>
                <div class=" item">
                    <img src="/pic/product/product_info1.webp" class="responsive-image" alt="...">
                    <p class="intro">布朗尼禮盒</p>
                </div>
                <div class=" item">
                    <img src="/pic/product/product_info1.webp" class="responsive-image" alt="...">
                    <p class="intro">布朗尼禮盒</p>
                </div>
                <div class=" item">
                    <img src="/pic/product/product_info1.webp" class="responsive-image" alt="...">
                    <p class="intro">布朗尼禮盒</p>
                </div>
            </div>
        </div>
    </div> -->





    <script>
    

        // 刪除訂單項目並更新購物車
        function deleteOrder(element) {
            var row = element.closest('.table-row');
            row.remove();
            updateCart();
        }

        // 更新購物車
        function updateCart() {
            var rows = document.querySelectorAll('.table-row1.order');
            var productAmount = 0;
            var productTotal = 0;

            rows.forEach(function (row, index) {
                var quantityElement = row.querySelector('.quantity');
                var priceElement = row.querySelector('.price');
                var priceTotalElement = row.querySelector('.price-total');

                var quantity = parseInt(quantityElement.textContent);
                var price = parseInt(priceElement.textContent.replace('$', ''));

                var priceTotal = quantity * price;
                priceTotalElement.textContent = '$' + priceTotal;

                productAmount += quantity;
                productTotal += priceTotal;
            });

            var productAmountElement = document.querySelector('.product-amount');
            var productTotalElement = document.querySelector('.product-total');
            var deliverFeeElement = document.querySelector('.deliver-fee');
            var cashTotalElement = document.querySelector('.cash-total');

            productAmountElement.textContent = productAmount + '件';
            productTotalElement.textContent = '$' + productTotal;

            var deliverFee = 150;
            var cashTotal = productTotal + deliverFee;

            deliverFeeElement.textContent = '$' + deliverFee;
            cashTotalElement.textContent = '$' + cashTotal;
        }

        // 減少商品數量
        function subtractQuantity(element) {
            var quantityElement = element.nextElementSibling;
            var quantity = parseInt(quantityElement.textContent);

            if (quantity > 1) {
                quantity--;
                quantityElement.textContent = quantity;
                updateCart();
            }
        }

        // 增加商品數量
        function addQuantity(element) {
            var quantityElement = element.previousElementSibling;
            var quantity = parseInt(quantityElement.textContent);

            quantity++;
            quantityElement.textContent = quantity;
            updateCart();
        }

        // 監聽刪除按鈕的點擊事件
        var deleteButtons = document.querySelectorAll('.delete-btn');
        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                deleteOrder(this);
            });
        });

        // 監聽減少按鈕的點擊事件
        var subtractButtons = document.querySelectorAll('.subtractBtn');
        subtractButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                subtractQuantity(this);
            });
        });

        // 監聽增加按鈕的點擊事件
        var addButtons = document.querySelectorAll('.addBtn');
        addButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                addQuantity(this);
            });
        });

        // 頁面載入時更新購物車
        window.addEventListener('load', function () {
            updateCart();
        });




        //熱門商品循環撥放
        $(".owl-carousel").owlCarousel({
            loop: true, // 循環播放
            margin: 10, // 外距 10px
            nav: false,
            autoplay: true, // 自動撥放
            autoplayTimeout: 3000, // 自動撥放間隔時間（以毫秒為單位）
            navContainer: '.owl-nav', // 指定控制按鈕的容器元素

            responsive: {
                0: {
                    items: 1 // 螢幕大小為 0~600 顯示 1 個項目
                },
                600: {
                    items: 3 // 螢幕大小為 600~1000 顯示 3 個項目
                },
                1000: {
                    items: 5 // 螢幕大小為 1000 以上 顯示 5 個項目
                }
            }
        });


    </script>
      <%- include("./footer.ejs") %>
</body>

</html>